<DIV CLASS="gallery t1">
  {% for item in gallery.images %}
    <DIV>
      <DIV>
        {% assign clazz = "G" | append: index %}
        {% render 'image_snippet',
                  details:item.details,
                  id:false,
                  title:false,
                  clazz:clazz,
                  overlay:item.overlay %}
      </DIV>
      <DIV>
        <P>{% render 'content_section' with content:item.tag %}</P>
      </DIV>
    </DIV>
  {% endfor %}
  {% for i in (1..8) %}
    <DIV CLASS="dummy size1 size2 size3"></DIV>
  {% endfor %}
</DIV>
