{% if image_index %}
  <DIV CLASS="image_indexes t0">
    {% for item in image_index.entries %}
      {% if item.off_page %}
        <A TARGET=“_blank” CLASS=
      {% else %}
        <A CLASS=
      {% endif %}
      "index t0" HREF="{{ item.path }}">
        {% if item.blurb %}
          <SPAN CLASS="tooltiptext">{{ item.blurb }}</SPAN>
        {% endif %}
        <DIV>{% render 't_image',
                         id:false,
                         specs:false,
                         title:false,
                         details:item.details,
                         clazz:'image_index',
                         overlay:false %}</DIV>
        <DIV>{{ item.title | replace: " (", " <BR>(" }}</DIV>
      </A>
    {% endfor %}
    {% for i in (1..8) %}
      <DIV CLASS="index dummy"></DIV>
    {% endfor %}
  </DIV>
{% endif %}
