{% if page_title %}
{% if previous_page or next_page %}
  <DIV CLASS="title">
    {% if previous_page %}
      <A CLASS="nav" HREF="{{ previous_page }}"><DIV CLASS="nav_ltriangle"></DIV><DIV CLASS="nav_rect"></DIV></A>
    {% else %}
      <DIV CLASS="nav_none"></DIV>
    {% endif %}
    {% if next_page %}
      <A CLASS="nav" HREF="{{ next_page }}"><DIV CLASS="nav_rect"></DIV><DIV CLASS="nav_rtriangle"></DIV></A>
    {% else %}
      <DIV CLASS="nav_none"></DIV>
    {% endif %}
  </DIV>
{% endif %}
{% endif %}
