{% assign anchor_colour     = "#00CCCC" %}
{% assign body_colour       = "#101010" %}
{% assign code_colour       = "#FFA500" %}
{% assign emphasized_colour = "magenta" %}
{% assign here_colour       = "white"   %}
{% assign hover_colour      = "#AAFFFF" %}
{% assign index_colour      = "#303030" %}
{% assign page_colour       = "#303030" %}
{% assign quoted_colour     = "cyan"    %}
{% assign text_colour       = "#DDDD00" %}

<!DOCTYPE html>
<HTML LANG="en"><HEAD><TITLE>{{ blurb }}</TITLE>
<meta name="description" content="{{ blurb }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
{% if overlay %}
<script>
function showOverlay(image_path) {
  var img = '<IMG SRC="' + image_path + '" onclick="hideOverlay()">';
  document.getElementById("overlay").style.display = 'flex';
  document.getElementById("overlay_image").innerHTML = img;
}
function hideOverlay() {
  document.getElementById("overlay").style.display = 'none';
}
</script>
{% endif %}
<style>
{% include 'css' %}
</style>
{% include 'breadcrumbs_origin_head' %}
</HEAD><BODY>
{% if overlay %}
<DIV ID="overlay" CLASS="overlay" onclick="hideOverlay()">
  <DIV CLASS="overlay_back size1 size2 size3" onclick="hideOverlay()"></DIV>
  <DIV CLASS="size1 size2 size3" ID="overlay_image" onclick="hideOverlay()"></DIV>
  <DIV CLASS="overlay_front size1 size2 size3" onclick="hideOverlay()"></DIV>
</DIV>
{% endif %}
<DIV CLASS="page">
<DIV CLASS="legend">Jadawin - a simple static site generator</DIV>
{% include 'breadcrumbs_origin_body' %}
<DIV CLASS="payload content {{ index_style }}">
  {% if content %}
    <DIV CLASS="story t1">
      {% include 'title' %}
      {% include 'story_indexes' %}
      {% include 'content' with content %}
      {% if line_count > 20 %}
        {% include 'navigation' %}
      {% endif %}
    </DIV>
  {% endif %}
  {% include 'text_indexes', text_index:text_index, text_index_size:'' %}
  {% include 'image_indexes' %}
  {% include 'rect_indexes' %}
</DIV>
</DIV></BODY></HTML>
