{% if story_index %}
    <DIV CLASS="story_index">
    {% for item in story_index %}
        <A HREF="{{ item.path }}">{{ item.title | truncate: 45 | replace: " ", "&nbsp;" }}</A>
    {% endfor %}
    </DIV>
{% endif %}
