{% for element in content %}
    {% case element.type %}
      {% when "array" %}
        {% render 't_content' with content:element.data %}
      {% when "code" %}
        <PRE CLASS="code">{{ element.text }}</PRE>
      {% when "css" %}
      {% when "gallery" %}
        {% render 't_gallery' with gallery:element %}
      {% when "heading" %}
        <DIV CLASS="heading">{{ element.text }}</DIV>
      {% when "image" %}
        {% render 't_image', specs:element.specs,
                              details:element.details,
                              id:element.id,
                              title:false,
                              clazz:element.clazz,
                              overlay:element.overlay %}
      {% when "inset" %}
        {% render 't_image', specs:element.specs,
                              details:element.details,
                              id:element.id,
                              title:false,
                              clazz:element.clazz,
                              overlay:element.overlay %}
      {% when "list" %}
        {% render 't_list' with list:element %}
      {% when "none" %}
      {% when "raw" %}
        {{ element.text }}
      {% when "svg" %}
        {% render 'text_indexes_snippet', text_index:element.text_index, text_index_size:'size0' %}
        {% render 't_svg', source:element.source,
                            background:element.background,
                            width:element.width %}
      {% when "table" %}
        {% render 't_table' with table:element %}
      {% else %}
        <B>Liquid error: Element type {{ element.type }}</B>
    {% endcase %}
{% endfor %}