{% if text_index %}
    <DIV CLASS="text_indexes{% if text_index_size %} {{ text_index_size }}{% endif %}">
    {% for item in text_index %}
        <DIV CLASS="index_text t0">&raquo;&nbsp;<
          {%- if item.off_page -%}
            A TARGET=“_blank” HREF=
          {%- else -%}
            A HREF=
          {%- endif -%}
          "{{ item.path }}">{{ item.title | replace: " ", "&nbsp;" }}</A>
        </DIV>
    {% endfor %}
    </DIV>
{% endif %}
